html {
  box-sizing: border-box;
  font-size: 16px; }
  @media screen and (min-width: 500px) {
    html {
      font-size: 19px; } }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #fffcf8;
  border-top: 3px solid #222;
  color: #404040;
  font-family: Source Sans Pro, "Ubuntu", sans-serif;
  line-height: 28.5px;
  padding: 1rem 14.25px 3rem; }

.wrapper {
  margin: 0 auto;
  max-width: 64rem; }

a {
  border-bottom: 1px dotted;
  color: #1919a9;
  text-decoration: none; }
  a:active, a:hover {
    color: #ff4136;
    transition: color 0.25s; }

.page {
  margin-bottom: 3rem; }

p {
  margin: 28.5px 0; }

h1,
h2,
h3 {
  color: #222; }

h1, .h1-like {
  font-size: 42.75px;
  font-weight: bold;
  line-height: 1;
  margin: 57px 0 28.5px; }

h2, .h2-like {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28.5px;
  margin: 57px 0 28.5px 0; }

h3, .h3-like {
  font-size: 19px;
  text-transform: uppercase;
  margin: 57px 0 28.5px; }

blockquote {
  border-left: 1px dotted #828282;
  margin: 0;
  padding-left: 1rem; }

ul {
  margin: 28.5px 0;
  padding-left: 1rem; }

code {
  color: #303871;
  font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace; }

.secondary {
  color: #4f4f4f; }

@media screen and (min-width: 760px) {
  .col {
    float: left;
    padding-right: 28.5px; }
    .col:last-of-type {
      padding-right: 0; }

  .col.half {
    width: 50%; }

  .col.third {
    width: 33.33%; }

  .grid:after {
    content: "";
    display: table;
    clear: both; } }
img {
  max-width: 100%;
  height: auto; }

.patterns-lib > h2 {
  background-color: #e8e8e8;
  color: #828282;
  font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 28.5px;
  padding: 0 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.25em; }

.patterns-lib.logo-svg img {
  max-width: 150px; }

.header {
  text-align: center;
  margin-bottom: 28.5px; }

.logo {
  stroke: #222;
  text-align: center;
  margin: 0 auto;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: sharpen;
  animation-name: sharpen; }

.logo, .logo a {
  border-bottom: none;
  color: #222;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1; }
  .logo:hover, .logo a:hover {
    color: #3050f0;
    stroke: #3050f0; }

@-webkit-keyframes sharpen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes sharpen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.masthead {
  font-size: 19px;
  padding: 28.5px 0; }

.masthead-h1 {
  color: #303871;
  font-size: 57px;
  font-weight: bold;
  line-height: 0.85;
  margin: 0 0 0 -0.05em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  word-spacing: 0.125em; }

.masthead-h2 {
  margin: 28.5px 0 57px; }

@media screen and (min-width: 800px) {
  .masthead-h1 {
    font-size: 71.25px;
    font-weight: bold;
    line-height: 0.85;
    margin: 0 0 0 -0.05em;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    word-spacing: 0.33em; }

  .masthead-h2 {
    margin: 28.5px 0; } }
.menu-list ul {
  list-style: none;
  padding: 0; }
.menu-list li {
  margin-bottom: 7.125px; }

.menu-list a {
  border-bottom: none; }

.menu-list-title {
  margin: 28.5px 0 14.25px; }

button,
.btn {
  color: white;
  background-color: #3050f0;
  box-shadow: 0 1px 2px #828282;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
  margin: 0.5rem;
  max-width: 285px;
  cursor: pointer; }
  button:hover,
  .btn:hover {
    background-color: #1919a9;
    box-shadow: none; }
  button:active,
  .btn:active {
    font-weight: bold; }

.btn-round {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em; }

.post {
  max-width: 34rem;
  margin: 0 auto;
  margin-bottom: 3rem; }

.post-meta {
  color: #828282; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.blue {
  color: #3050f0; }

.blue-dark {
  color: #1919a9; }

.blue-code {
  color: #303871; }

.red {
  color: #ff4136; }

.red-dark {
  color: #a12424; }

.grey {
  color: #828282; }

.black {
  color: #222; }

.brown {
  color: #a77040; }

.grey {
  color: #828282; }

.grey-light {
  color: #e8e8e8; }

.purple {
  color: #533a70; }

.yellow {
  color: #ffd600; }

.highlight {
  border-left: 1px dotted #828282;
  font-size: 16px;
  margin: 28.5px 0;
  padding-left: 0.5em; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    color: #a12424; }
  .highlight .o {
    color: #3050f0; }
  .highlight .p {
    color: #536065; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    color: #a12424; }
  .highlight .kd {
    color: #a12424; }
  .highlight .kp {
    color: #a12424; }
  .highlight .kr {
    color: #a12424; }
  .highlight .kt {
    color: #a12424;
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #e46609; }
  .highlight .s {
    color: #189560; }
  .highlight .nb {
    color: #2a81c8; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #757575;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #e46609; }
  .highlight .mh {
    color: #e46609; }
  .highlight .mi {
    color: #e46609; }
  .highlight .mo {
    color: #e46609; }
  .highlight .sb {
    color: #189560; }
  .highlight .sc {
    color: #189560; }
  .highlight .sd {
    color: #189560; }
  .highlight .s2 {
    color: #189560; }
  .highlight .se {
    color: #189560; }
  .highlight .sh {
    color: #189560; }
  .highlight .si {
    color: #189560; }
  .highlight .sx {
    color: #189560; }
  .highlight .sr {
    color: #189560; }
  .highlight .s1 {
    color: #189560; }
  .highlight .ss {
    color: #189560; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
  .highlight .lineno {
    color: #cccccc;
    margin-right: 0.5rem; }
