---
layout: default
title: Musings on UI design and development 
---

<div class="blog wrapper-post-like">

<h1> Blog </h1>
<div class="post-list">
  <ul>
    {% for post in site.posts %}
      <li>
        {% if post.category == "quicknote" %}
          <div class="post-list-note">
            <h2 class="post-list-title title-icon note-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">             
                {{ post.title }}<span class="icon ion-pin"></span>       
              </a>
            </h2>
            {{ post.content }}
          </div>

        {% elsif post.category == "quote" %}
          <div class="post-list-note">
            <h2 class="post-list-title title-icon note-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">             
                {{ post.title }}<span class="icon ion-quote"></span>       
              </a>
            </h2>
            {{ post.content }}
          </div>

        {% elsif post.category == "quote-bundle" %}
            <h2 class="post-list-title title-icon">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}<span class="icon ion-quote"></span> 
              </a>
            </h2>
            <div class="excerpt">{{ post.excerpt}}</div>

        {% else %}

            <h2 class="post-list-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h2>
            <div class="excerpt">{{ post.excerpt}}</div>

        {% endif %}


      </li>

    {% endfor %}
  </ul>
</div>

</div>
