//
//  base
//

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  text-align: center;
  margin: 1rem 0 2rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em 0;
}

.wrapper-small {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1em 0;
}

a {
  color: $blue-light;
  text-decoration: none;

  &:active, &:hover {
    color: $blue;
    transition: color 0.25s;
  }
}

.page {
  margin-bottom: 3rem;
}

button,
.btn {
  color: white;
  background-color: $blue;
  background-image: linear-gradient(to bottom, $blue-light);
  padding: 0.5em 1em;
  border: 0;
  border-radius: 3px;
  text-align: center;
  margin: 0.5rem 0;
  max-width: 12rem;
  cursor: pointer;

  &:hover, &:active {
    background-image: linear-gradient(to bottom, $blue, $blue);
    overflow: none;
  }
  &:active {
    text-shadow: 0 0 5px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
