<footer class="site-footer">

  <div class="wrapper grid">

    <div class="menu-list menu-list-small col half">
    <h3 class="menu-list-title">contact</h3>
      <script type="text/javascript"><!--
      var bfxrpxl = ['.','l','z','.','z','l','h','>','e','s','l','a',':','"','t','i','i','@','b','o','c','h','m','m','a','t','o','a',' ','s','o','m','"','r','e','.','o','f','r','<','i','a','i','@','.','r','o','t','o','l','a','c','l','s','<','"',' ','b','=','e','o','m','h','/','l','>','"','g','m','a','l','m','c','a','s','a','=','l','l','g','a','e'];var xzfilix = [21,73,28,74,67,58,55,81,48,66,57,62,15,53,25,11,33,29,61,37,36,3,38,49,1,13,59,10,40,45,76,77,39,4,17,35,14,6,24,0,51,50,72,68,60,63,20,64,26,18,80,75,42,44,78,8,2,22,7,56,65,9,16,79,34,54,47,69,31,43,52,70,41,32,27,71,46,12,19,30,23,5];var cogtjda= new Array();for(var i=0;i<xzfilix.length;i++){cogtjda[xzfilix[i]] = bfxrpxl[i]; }for(var i=0;i<cogtjda.length;i++){document.write(cogtjda[i]);}
      // --></script>

      <noscript>Please enable Javascript to see the email address</noscript>
    </div>

    <div class="menu-list menu-list-small col half">
    <ul>
      <h3 class="menu-list-title">Links</h3>

      <li>
      github: <a href="http://github.com/bart747">bart747</a>
      </li>
      <li>
      twitter: <a href="http://twitter.com/bwhimself">bwhimself</a>
      </li>
    </div>

  </div>


  <div class="center"> 
    <br>
    <span class="octicon octicon-zap"></span> &nbsp; + &nbsp;
    <span class="octicon octicon-keyboard"></span> &nbsp; + &nbsp;
    <span class="octicon octicon-dashboard"></span>
  </div>

</footer>

<!-- G-analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70300765-1', 'auto');
  ga('send', 'pageview');

</script>


