<header class="header clearfix">

  <div class="header-nav header-left">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/">
          home
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}#footer">
          contact
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog">
          blog
        </a>
      </li>
    </ul>
  </div>
  
  <div class="icon-logo">
    <a href="{{ site.baseurl }}/">
      <img src="/img/favicon.svg" alt="UI deisgn and developement">
    </a>
  </div>
</header>
