<header class="header">

  <div class="wrapper">
  
  <a class="link-home " href="{{ site.baseurl }}/" alt="home">
    <button class="header-nav icon-logo ion-android-home">
    </button>
  </a>
  <div class="header-nav">
    <ul>
     <!-- <li>
        <a class="link-home" href="{{ site.baseurl }}/">
                  home
        </a>
      </li> -->
      <li>
        <a href="{{ site.baseurl }}#footer">
          contact
        </a>
      </li>
      <li>
        <a class="link-blog" href="{{ site.baseurl }}/blog">
          blog
        </a>
      </li>
    </ul>
  </div>

  </div>

</header>
