<header class="header clearfix">

<div class="grid">
  <div class="logo header-left col half">
    <a href="{{ site.baseurl }}/">
      bart747.github.io
    </a>
  </div>

  <div class="header-nav header-right col half">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/">
          home
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}#footer">
          contact
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog">
          blog
        </a>
      </li>
    </ul>
  </div>
</div>

</header>
