//
// animations
//

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-hide {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-show {
  from {
    opacity: 0;
    transform: rotateX(12deg) translate3d(0, -5px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes writer-show {
  from {
    border-color: #fff;
  }

  to {
    border-color: $blue;
  }
}

@keyframes reader-show {
  from {
    border: 1px solid $blue;
    border-radius: $radius;
    margin: 0 -0.5em 0;
    padding: 0 0.5em;
  }

  to {
    border-color: transparent;
  }
}

@keyframes highlight-anim {
  from {
    color: inherit;
  }

  50% {
    color: $yellow;
  }

  to {
    color: inherit;
  }
}
.highlight-anim {
  animation-name: highlight-anim;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

