//
//  base
//

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @media screen and (max-width: 568px) {
    font-size: $small-font-size;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  border-top: 3px solid $black;
  color: $text-color;
  font-family: $base-font-family;
  padding: 1rem ( 0.5 * $u ) 3rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 64rem;
}

a {
  border-bottom: 1px dotted ;
  color: $blue-dark;
  text-decoration: none;

  &:active, &:hover {
    color: $red;
    transition: color 0.25s;
  }
}

.page {
  margin-bottom: 3rem;
}
