//
//  base
//

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  @media screen and (max-width: $screen-sml) {
    font-size: $small-font-size;
  }
}

section {
  margin: 4rem 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem 0;
}

.wrapper-small {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1em 0;
}

object {
  width: 100%;
}

a {
  color: $blue-dark;
  text-decoration: none;

  &:active, &:hover {
    color: $orange-deep;
    transition: color 0.25s;
  }
}

.page {
  margin-bottom: 3rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
