//
//  buttons
//

button,
.btn {
  color: white;
  background-color: $blue;
  box-shadow: 0 1px 2px $grey;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
  margin: 0.5rem;
  max-width: 10 * $u;
  cursor: pointer;

  &:hover {
    background-color: $blue-dark;
    box-shadow: none;
  }

  &:active {
  font-weight: bold;
  }

}

.btn-round {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.btn-social {
    margin: ($u / 2) 0 ($u / 2) 4px;
}
