//
//  buttons
//

button,
.btn {
  color: white;
  background-color: $blue;
  background-image: linear-gradient(to bottom, $blue, $blue-dark);
  padding: 0.5em 1em;
  border: 0;
  border-radius: 3px;
  text-align: center;
  margin: 0.5rem 0;
  max-width: 12rem;
  cursor: pointer;

  &:hover, &:active {
    background-image: linear-gradient(to bottom, $blue-dark, $blue-dark);
    overflow: none;
  }
  &:active {
    text-shadow: 0 0 5px;
  }

}

.btn-round {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.btn-social {
  margin: 1em 0 1em 2px;
}
