//
// cookie banner
//

.cc_banner {
  background: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 16px;
  min-width: 52%;
  padding: 0 1em;
  border-radius: $radius;
  box-shadow: 0 -1px 1px 0 $grey;
  z-index: 1000;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.cc-banner p {
  margin: 0;
}
.cc_logo {
  display: none;
}
.cc_message {
  float: left;
  margin: 1em;
  max-width: 65%;
}

a.cc_btn {
  @extend .btn;
  color: white;
  float: right;
  padding: 0.5em 0.75em;
  height: 70%;
}
