//
// crest
//

#crest-rect {
  animation-name: crest-rect;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  fill: $yellow;
}

#crest-txt {
  
}

@keyframes crest-rect {
  0% {
    rx: 5;
    ry: 5;
  }

  30% {
    rx: 30;
    ry: 30;
  }

  55% {
    rx: 17;
    ry: 17;
  }

  85% {
    rx: 23;
    ry: 23;
  }
  
  100% {
    rx: 20;
    ry: 20;
  }
}

@keyframes crest-txt {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}