//
// editor
//

.editable {
  max-width: 32em;
}

.editor-title {
  margin: 1em 0 0;
}

.editor-writer {
  animation-name: writer-show;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  background: #fff;
  border: 1px solid $blue;
  border-radius: $radius;
  margin: 0 -0.5em 0;
  padding: 0 0.5em;
  outline: none;
}

.editor-reader {  
  animation-name: reader-show;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  border: 1px solid transparent;
  margin: none;
  padding: none;
}

.non-edit-field {
  margin: 1em 0;
  padding: 0.25em 0;
  outline: none;
}

.editor-date-box {
  color: $grey;
  display: inline-block;
  font-size: 0.75em;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: lowercase;
}

.editor-date {

}

@mixin editor-btn {
  border-width: 1px;
  color: $black;
  font-size: 14px;
  margin: 0.25em 0;
  padding:  0 0.25em;
  text-align: center;
  transition: all 0.2s ease-in;
  & .icon:before {
    vertical-align: -5%;
  }
}

.editor-btn-edit {
  @include editor-btn;
  padding:  0 0.25em 0 0.25em;
}


.editor-btn-save {
  font-size: 14px;
  &:after {
    content: "save";
  }
}

.editor-btn-cancel {
  @include editor-btn;
  padding:  0 0.25em 0 0.25em;
  animation-name: show-up;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

.editor-messages {
  display: inline-block;
}