//
// editor
//

.editable {
  max-width: 32em;
}

.editor-writer {
  background: #fff;
  border: 1px solid $blue;
  border-radius: $radius;
  margin: 0 -0.5em 1em;
  padding: 0.25em 0.5em;
  outline: none;
  transition: all 0.2s ease-in;
}

.non-edit-field {
  margin: 1em 0;
  padding: 0.25em 0;
  outline: none;
}

.editor-date-box {
  color: $grey;
  display: inline-block;
  font-size: 0.75em;
  font-weight: normal;
  text-transform: lowercase;
  transition: all 0.2s ease-in;
}

textarea {
  border: 1px solid $grey;
  border-radius: $radius;
  color: $black;
  outline: none;
  padding: 0.5em 0.75em;
  &:hover, &:focus {
    border: 1px solid $blue;
  }
}

textarea.editor {
  resize: none;
}

textarea:disabled.editor {
  background: transparent;
  border: none;
  padding: 0;
}

.btn-edit {
  border-width: 1px 1px 2px;
  color: $black;
  font-size: 14px;
  margin: 0.25em 0;
  padding:  0 0.2em 0 0.3em;
  text-align: center;
  transition: all 0.2s ease-in;
}

.btn-edit-txt {
  display: inline-block;
}

.btn-edit-mode .btn-edit-txt{
  width: 2.5em;
  &:after {
    content: "save";
  }
}

.btn-edit-waiting .btn-edit-txt {
  width: 2.5em;
  &:after {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blinker;
  color: $green;
  content: ".";
  font-size: 2em;
  font-weight: bold;
  line-height: 0.1em;
  position: relative;
  top: -2px;
  }
}

.btn-edit-done .btn-edit-txt {
  width: 2.5em;
  color: $green;
  &:after {
    content: "done";
  }
}