//
// editor
//

.editable {
  max-width: 32em;
}

.editor-writer {
  background: #fff;
  border: 1px solid $blue;
  border-radius: $radius;
  margin: -0.25em -0.5em 0.75em;
  padding: 0.25em 0.5em;
  outline: none;
}

.editor-reader {
  border: 1px solid transparent;
  margin: 0 0 1em;
  padding: 0;
}

.non-edit-field {
  margin: 1em 0;
  padding: 0.25em 0;
  outline: none;
}

.editor-date-box {
  color: $grey;
  display: inline-block;
  font-size: 0.75em;
  font-weight: normal;
  text-transform: lowercase;
  transition: all 0.2s ease-in;
}

.editor-date {
  animation-name: show-up;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

textarea {
  border: 1px solid $grey;
  border-radius: $radius;
  color: $black;
  outline: none;
  padding: 0.5em 0.75em;
  &:hover, &:focus {
    border: 1px solid $blue;
  }
}

textarea.editor {
  resize: none;
}

textarea:disabled.editor {
  background: transparent;
  border: none;
  padding: 0;
}

@mixin editor-btn {
  border-width: 1px 1px 2px;
  color: $black;
  font-size: 14px;
  margin: 0.25em 0;
  padding:  0 0.25em;
  text-align: center;
  transition: all 0.2s ease-in;
}

.editor-btn-edit {
  @include editor-btn;
  padding:  0 0.34em 0 0.1em;
}

.editor-btn-save {
  font-size: 14px;
  &:after {
    content: "save";
  }
}

.editor-btn-cancel {
  @include editor-btn;
  padding:  0 0.34em 0 0.1em;
  animation-name: show-up;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

.editor-messages {
  display: inline-block;
}