//
// forms
//

fieldset {
  border: none;
  margin: 1rem 0 ;
  padding: 0;
}

form {
  margin: 1.5em 0 3em;
}

label {
  color: $grey-dark;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 1em 0 0;
}

input {
  border: 2px solid $grey;
  border-radius: 4px;
  display: inline-block;
  font-size: $base-font-size;
  margin: 0;
  padding: 0.5em 0.62em;
  width: 100%;
  max-width: 300px;
  transition: border-color 0.25s;
}

input.input-icon {
  width: 80%;
}

.input-message {
  color: $grey-dark;
  font-size: 16px;
  margin: 0 0 1em;
}

.input-line {
  display: block;
}

.input-line-fixed {
  height: 4.5em;
}

input:focus {
  border-color: $blue;
  box-shadow: 0 0 2px $blue-light inset;
  outline: none;
}

input.input-success {
  border-color: $green;
}

input.input-error {
  border-color: $red;
}
.input-line .octicon {
  margin: 0 0.5em;
}

form .icon {
  padding: 0 0.5em;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}



input.cc-exp-input,
input.cc-cvc-input {
  max-width: 150px;
  width: 40%;
}

.form-wrapper-small {
  height: 25rem;
}

.form-boring input {
  font-size: $small-font-size;
  padding: 0.4em;
}

.form-boring label {
  margin: 0.5rem 0 0;
}

.form-fieldset-toggle {
  height: 25em;
  @media screen and (max-width: $screen-sml) {
    height: 28em;
  }
}

#form-sign-up,
#form-sign-in {
  animation-name: show-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
