//
// forms
//

fieldset {
  border: none;
  margin: 1rem 0 2rem;
  padding: 0;
}

form {
  margin: $u 0 (2*$u);
}

label {
  color: $grey-dark;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0 0;
}

input {
  border: 2px solid $grey;
  border-radius: 4px;
  display: inline-block;
  font-size: $large-font-size;
  margin: 0;
  padding: 0.5em 0.5em;
  width: 80%;
  max-width: 300px;
  transition: border-color 0.5s;
}

.input-message {
  color: $grey-dark;
  font-size: 16px;
  margin: 0 0 $u;
}

.input-line {
  display: block;
}

.input-line-fixed {
  height: 5rem;
}

input:focus {
  border-color: $blue;
  outline: none;
}

input.input-success {
  border-color: $green;
}

input.input-error {
  border-color: $red;
}
.input-line .octicon {
  margin: 0 0.5em;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

input.cc-exp-input,
input.cc-cvc-input {
  max-width: 150px;
  width: 40%;
}

.form-wrapper-small {
  height: 25rem;
}
