//
// header
//

header .wrapper {
  display: flex;
  font-size: $small-font-size;
  justify-content: space-between;
  padding: 1rem;
}

.header-nav {
  flex: 1 1 auto;
  margin: 0 auto;
}

.header-nav ul {
  text-align: right;
  margin: 0 auto;
  padding: 0;
}

.header-nav li {
  display: inline;
  margin: 0 1em 0 0;
}

.icon-logo {
 // text-align: center;
  line-height: 1;
  margin: 0 auto;
}

.icon-logo img {
  max-width: 25px;
  height: auto;
  transition: all 0.25s ease;
  vertical-align: top;
  &:hover {
    transform: rotate(45deg);
  }
}
