//
// header
//

.header {
  padding: 1rem;
  background: $blue-dark;
  border-bottom: 0.25em solid $background-color;
}

.header a {
  color: white;
  &:hover, :focus {
    color: $black;
  }
}
.header-nav {
  margin: 0 auto;
}

.header-nav ul {
  margin: 0 auto;
  padding: 0;
}

.header-nav li {
  display: inline;
  margin: 0 1em 0 0;
}

.header-left {
  float: left;
  text-align: left;
}

.header-right {
  float: right;
  text-align: right;
}

@media all and ( min-width: $screen-mid ) {

  .header-left {
    text-align: left;
  }

  .header-right {
    text-align: right;
  }
}

.icon-logo {
  text-align: center;
  line-height: 1;
  margin: 0 auto;
}

.icon-logo img {
  max-width: 25px;
  height: auto;
  transition: all 0.2s ease;
  &:hover {
    transform: rotate(45deg);
  }
}
