//
//  helpers
//

.center {
  text-align: center;
 }

.txt-secondary {
  color: $grey;
  font-size: $small-font-size;
}

.bold {
  font-weight: bold;
}

.blue {
  color: $blue;
}

.blue-dark {
  color: $blue-dark;
}

.blue-code {
  color: $blue-code;
}
.red {
  color: $red;
}

.red-dark {
  color: $red-dark;
}

.grey {
  color: $grey;
}

.black {
  color: $black;
}

.brown {
  color: $brown;
}

.grey {
  color: $grey;
}

.grey-light {
  color: $grey-light;
}

.purple {
  color: $purple;
}

.yellow {
  color: $yellow;
}
