//
//  helpers
//

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
 }

.left {
  text-align: left;
 }

.small {
  font-size: $tiny-font-size;
}

.txt-secondary {
  color: $grey-dark;
  font-size: $tiny-font-size;
  text-transform: none;
}

.link-active {
  border-bottom: 1px solid;
}

.link-like {
  color: $blue-dark;
  cursor: pointer;
  text-decoration: none;

  &:active, &:hover {
    color: $red;
    transition: color 0.25s;
  }
}

.txt-highlight {
  border-bottom: 2px solid $green;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.sandbox {
  background: #eee;
  border-radius: 0.25em;
  text-align: center;
  min-height: 3em;
  margin: 1em 0 2em;
  padding: 1em;
}

.sandbox img {
  max-width: 200px;
}

.blue {
  color: $blue;
}

.blue-dark {
  color: $blue-dark;
}

.blue-night {
  color: $blue-night;
}
.red {
  color: $red;
}

.red-dark {
  color: $red-dark;
}

.grey {
  color: $grey;
}

.green {
  color: $green;
}


.black {
  color: $black;
}

.grey {
  color: $grey;
}

.grey-light {
  color: $grey-light;
}

.purple {
  color: $purple;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.white,
.white .octicon {
  color: #fff;
}

@mixin shadow {
  box-shadow: 0 1px 4px 0 $grey;
}
