//
// home
//
.work-samples {
  font-size: $base-font-size;
}

.home-example {
  margin: 3.5em 0;
}

.home-example-ui {
  @include shadow;
  border-radius: $radius;
  padding: 1em;
  margin: 2em auto;
}

.home-example-toggle-menu { 
  margin: 0 auto;
}

.home-pic img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 1px solid $black;
}
.home-example-nav-search {
  padding: 0 0 0.25em; 
}

.home-example-nav-search-zoom {
  padding: 0; 
}

.home-example-nav-search > ::before {
  color: $blue-dark;
  font-size: 17px;  
}

.home-example-nav-search-zoom > ::before {
  color: $blue-dark;
  font-size: 17px;
}

.home-example-editor {
  margin: 3em auto;
  max-width: 28em;
}
