//
// home
//
.work-samples {
  font-size: $base-font-size;
}

.home-example-ui {
//  background: #f4ede6;
  box-shadow: 0 1px 5px 0 $grey;
  border-radius: $radius;
  padding: 1em;
  margin: 3em;
}

.home-pic img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 1px solid $black;
}
