//
// home
//
.work-samples {
  font-size: $base-font-size;
}

.home-example-ui {
  @include shadow;
  border-radius: $radius;
  padding: 1em;
  margin: 2em auto;
}

.home-example-toggle-menu {
  height: 31em;
  margin: 0 auto;
}

.home-pic img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 1px solid $black;
}
