//
// icons
//
@font-face {
  font-family: "Ionicons";
  src: url("/bower_components/Ionicons/fonts/ionicons.woff");
}

.icon  {
  &:before {
    padding: 0 0.125em;
    vertical-align: middle;
  }
}

.icon-large {
  font-size: 1.66em;
}

.icon-clickable {

}
