//
// images
//
img {
  border-radius: 4px;
}

.post img {
  background: $grey;
  margin: 0 auto;
  max-width: 600px;
  min-height: 250px;
  height: auto;
  width: 100%;
}

.img-blur-1 {
  animation-duration: 0.5s;
  animation-name: img-blur; 
}

.img-blur-2 {
  animation-duration: 0.1s;
  animation-name: img-blur; 
}

.img-blur-3 {
  animation-duration: 1.5s;
  animation-name: img-blur; 
}

@keyframes img-blur { 

  from {
    filter: blur(7px);
  }

  to {
    filter: blur(0);
  }

}
