//
// images
//
img {
  border-radius: 4px;
  transition: all 0.5s ease; 
}

.post img {
  background: $grey;
  margin: 0 auto;
  max-width: 600px;
  min-height: 250px;
  height: auto;
  width: 100%;
}

.img-blur {
  filter: blur(10px);
}


