//
// layout
//

//grid
@media screen and (min-width: 760px) {
  .col {
    float: left;
    padding-right: $u;
    &:last-of-type {
      padding-right: 0;
    }
 }

  .col.half {
    width: 50%;
  }

  .col.third {
    width: 33.33%;
  }

  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.patterns-lib>h2 {
  background-color: $grey-light;
  color: $grey;
  font-family: $monospace;
  font-size: 1rem;
  line-height: $u;
  padding: 0 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.patterns-lib.logo-svg img {
  max-width: 150px;
}

