//
// layout
//


//grid

.grid {
  display: flex;
}

.col {
  flex: 1;
  margin: 0 1em;
}

.col:first-child {
  margin: 0 1em 0 0;
}

.col:last-child {
  margin: 0 0 0 1em;
}
 // .col.half
  

 // .col.third 


 // .grid:after 


.patterns-lib>h2 {
  background-color: $grey-light;
  color: $grey;
  font-family: $monospace;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}


