//
// menu list
//

.menu-list {
  margin-bottom: 3rem;
  ul {
    line-height: 1.25;
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1.25em;
  }
}

.list-indent li {
  padding-left: 1em;
}


@media screen and (min-width: $screen-mid) {
  .menu-list {
    margin-bottom: 0;
  }
}

.menu-list a {
}

.menu-list-title {
  margin: 1.25rem 0;
}

.menu-list-small li {
  margin-bottom: 0.5em;
}

.menu-list-small-title {
  margin: 1.25rem 0 0.5em;
}


//
// post list
//

.post-list ul {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 2 * $u;
}
.post-list p {
  &::after {
    content: '..';
  }
}

.post-list-title {
  margin: 0;
}
