//
// menu list
//

ul {
  margin: 1em 0;
  padding-left: 1.5em;
}

ol {
  margin: 1.5em 0;
  padding-left: 1.5em;
}

.list-inline {
  padding: 0;
  & li {
    display: inline;
    list-style: none;
    margin-left: 1em;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.menu-list {
  font-size: $small-font-size;
  margin-bottom: 3rem;
  ul {
    line-height: 1.25;
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
  }

  li {
    margin-bottom: 1.25em;
  }
}

.menu-list li:last-child {
  margin-bottom: 0;
}

.list-indent li {
  padding-left: 1em;
}


@media screen and (min-width: $screen-mid) {
  .menu-list {
    margin-bottom: 0;
  }
}

.menu-list a {
}

.menu-list-title {
  margin: 1.25em 0;
}

.menu-list-small li {
  margin-bottom: 0.5em;
}

.menu-list-small-title {
  margin: 1.25rem 0 0.5em;
}


//
// post list
//

.post-list ul {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 3em;
}

.excerpt p {
  &::after {
    content: ' . .';
  }
}

.post-list-note {
  margin: 4em auto;
}

.pagination {
  text-align: center;
  margin: 3em auto;
}

.menu-toggle {
  position: relative;
  top: 3px;
  margin-bottom: 1em;
  padding: 0;
}

.menu-toggle ul {
  margin-bottom: 0;
}

.menu-icons li {
  list-style: none;
  margin-left: 1.5em;
}

.menu-toggle-content {
  position: absolute;
  top: 2.9em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  background: $background-color;
  border-radius: 0 0 $radius $radius;  
  border-top: 6px solid $blue-dark;
  box-shadow: 0 1px 4px $grey;
  padding: 1.5em 1em;
  text-align: left;
  width: auto;
  width: 16em;
  z-index: 2;
  animation-name: show-up;
  animation-duration: 0.12s;
  animation-timing-function: ease-in;
}

.menu-icons .li-has-icon {
  margin-left: 0;
}
