//
// logo
//

.logo {
  font-family: $monospace;
  font-size: 0.75rem;
  text-align: center;
  margin: 0 auto;
}

.logo a {
  border-bottom: none;
  color: white;
  font-weight: normal;
  line-height: 1;
  margin: 0 1em;

  &:hover {
    color: $red;
  }
}

