//
// logo
//

.logo {
  stroke: $black;
  text-align: center;
  margin: 0 auto;
  animation-duration: 1s;
  animation-name: sharpen;
}

.logo,
.logo a {
  border-bottom: none;
  color: $black;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1;
  fill: $blue-dark;

  &:hover {
    color: $blue;
    fill: $blue;
    transition: fill, 0.5s;
  }
}

.logo svg {
  margin: 0.5rem;
}

@keyframes sharpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
