//
// masthead
//
.masthead {
  margin: 3rem 0;
}

.masthead-h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1.25em 0;
}

.masthead-h2 {
}

.masthead p {
}


@media all and (min-width: $screen-sml) {
  .masthead {
    font-size: $large-font-size;
    margin: 4rem 0;
  }

  .masthead-h1 {
    line-height: 1;
    letter-spacing: -0.0125em;
  }
  
}

@media all and (min-width: $screen-mid) {

  .masthead-h1 {
    font-size: 2.33em;
  }
  
}
