//
// masthead
//
.masthead {
  padding: 1rem 0;
}

.masthead-h1 {
}

.masthead-h2 {
}

.masthead p {
}


@media all and (min-width: $screen-sml) {
  .masthead {
    font-size: $large-font-size;
  }

  .masthead-h1 {
    font-size: 2.5rem;
    letter-spacing: -0.0125em;
    margin: 2.5rem 0;
  }
  
}

