//
// menu list
//

.menu-list {

  ul {
  list-style: none;
  padding: 0;
  }

  li {
    margin-bottom:( 0.5 * $u );
  }
}

.menu-list a {
}

.menu-list-title {
  margin: (2 * $u) 0 ( 0.5 * $u );
}

.menu-list-small li {
  margin-bottom: (0.25 * $u);
}
