//
// menu list
//

.menu-list {
  ul {
    line-height: 1.25;
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1.25em;
  }
}

.menu-list a {
}

.menu-list-title {
  margin: 3rem 0 1.25em;
}

.menu-list-small li {
  margin-bottom: 0.5em;
}

.menu-list-small-title {
  margin: 3rem 0 0.5em;
}

.menu-list-header {
  margin: 0 auto;
}

.menu-list-header ul {
  margin: 0 auto;
  padding: 0;
}

.menu-list-header li {
  display: inline;
  margin: 0 1em;
}

.menu-list-header a {
  color: $grey;

  &:hover, &:active {
    color: inherit;
  }
}
