.post-list ul {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  padding: 0.5em;
  margin: 0 -0.5em;
}

.post-list-title {
  font-size: $base-font-size;
  text-transform: none;
  margin: (0.5 *$u) 0 (0.5 * $u);
}

.post-list p {
  color: $grey-dark;
  font-weight: normal;
  margin: 0 0 (0.5 * $u);

  &::after {
    content: '..';
  }
}

.post-list li:hover {
  background: lighten($yellow, 40%);
  transition: background 0.25s;
}
