//
// post
//

.post,
.wrapper-post-like {
  max-width: 32em;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 0 1em;
}

.post-title {
  margin: 1.75em 0;
  @media screen and (max-width: $screen-sml) {
    margin: 1.5em 0;
  }
}

.note-title {
  //font-style: italic;
  //font-weight: normal;
  font-size: 1.12em;
  text-transform: uppercase;
}

.title-icon .icon {
  color: $yellow-dark;
  font-size: 0.75em;
  margin-left: 1em;

}

.post-meta {
  color: $grey;
}
