//
// post
//

.post {
  font-size: $large-font-size;
  @media screen and (max-width: $screen-sml) {
    font-size: $base-font-size;
  }
}


.post,
.wrapper-post-like {
  max-width: 36rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 1em;
}

.post h1 {
  margin-top: $u;
}

.post p {
  margin-bottom: 1em * $base-line-height; 
}

.post-meta {
  color: $grey;
}
