//
//  highlighter
//

.highlight {
    border-left: 1px dotted $grey;
    color: $text-color; 
    line-height: $u * 0.9;
    margin: $u 0;
    padding-left: 0.5em;

    .c     { color: $grey; font-style: italic } // Comment
    .err   { color: $red; } // Error
    .k     { color: $red-dark; } // Keyword
    .o     { color: $blue; } // Operator
    .p     {  }
    .cm    { color: $grey; font-style: italic } // Comment.Multiline
    .cp    { color: $grey; font-weight: bold } // Comment.Preproc
    .c1    { color: $grey; font-style: italic } // Comment.Single
    .cs    { color: $grey; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { background-color: $grey-light } // Generic.Deleted
    .gd .x { background-color: $grey-light } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $red } // Generic.Error
    .gh    {  } // Generic.Heading
    .gi    { background-color: $grey-light } // Generic.Inserted
    .gi .x { background-color: $grey-light } // Generic.Inserted.Specific
    .go    {  } // Generic.Output
    .gp    {  } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $grey } // Generic.Subheading
    .gt    { color: $red } // Generic.Traceback
    .kc    { color: $red-dark; } // Keyword.Constant
    .kd    { color: $red-dark; } // Keyword.Declaration
    .kp    { color: $red-dark; } // Keyword.Pseudo
    .kr    { color: $red-dark; } // Keyword.Reserved
    .kt    { color: $red-dark; } // Keyword.Type
    .m     { color: $orange } // Literal.Number
    .s     { color: $green } // Literal.String
    .n     { color: $blue-dark; } 
    .na    {  } // Name.Attribute
    .nb    { color: $blue-dark; } // Name.Builtin
    .nc    { color: $blue-dark; } // Name.Class
    .nd    { color: $blue-dark; }
    .no    { color: $blue-dark; } // Name.Constant
    .ni    { color: $blue-dark; } // Name.Entity
    .ne    { color: $blue-dark; } // Name.Exception
    .nf    { color: $blue-dark; } // Name.Function
    .nn    { color: $blue-dark; } // Name.Namespace
    .nt    { color: $blue-dark; } // Name.Tag
    .nv    { color: $blue-dark; } // Name.Variable
    .ow    {  } // Operator.Word
    .w     { color: $grey } // Text.Whitespace
    .mf    { color: $orange } // Literal.Number.Float
    .mh    { color: $orange } // Literal.Number.Hex
    .mi    { color: $orange } // Literal.Number.Integer
    .mo    { color: $orange } // Literal.Number.Oct
    .sb    { color: $green } // Literal.String.Backtick
    .sc    { color: $green } // Literal.String.Char
    .sd    { color: $green } // Literal.String.Doc
    .s2    { color: $green } // Literal.String.Double
    .se    { color: $green } // Literal.String.Escape
    .sh    { color: $green } // Literal.String.Heredoc
    .si    { color: $green } // Literal.String.Interpol
    .sx    { color: $green } // Literal.String.Other
    .sr    { color: $green } // Literal.String.Regex
    .s1    { color: $green } // Literal.String.Single
    .ss    { color: $green } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: $blue } // Literal.Number.Integer.Long

    .lineno { color: #bbb; margin-right: 0.5rem;}
}
