//
// travel-time 
//

.travel-time {
  display: flex; 
  flex-wrap: wrap;
  align-content: flex-center;
  justify-content: space-between;
}

.travel-time h2,
.travel-time h3 {
  font-size: 1em;
  margin: 0 0 1em 0;
}

.tt-container {
  flex: 1;
  min-width: 12rem;
  margin: 0 3.2em 2em 0;
  &:last-of-type {
    margin: 0 0 2em 0;
  }
  @media all and (max-width: 799px) {
    flex: 100%;
    margin: 0 0 3.2em 0;
  }
}

.tt-container ul {
  margin: 0;
  padding: 0;
}

.tt-container li {
  list-style: none;
}

.tt-vehicle-block {
}

.tt-travel {
  border: dotted $grey-light;
  border-width: 0 0 2px 0px;
  padding: 1em 1em;
}

.tt-time-start {
}

.tt-time-start,
.tt-time-end {
 // font-weight: bold; 
}

.tt-type,
.tt-cost {
  display: inline-block;
}


.tt-cost {
  color: $blue-dark;
}

.tt-sum {
  font-size: 1.3em;
  border-bottom: 2px dotted;
}
.tt-layover {
  background: $grey-light;
  color: $grey;
  padding: 0 1em;
}

.tt-type {
  padding: 0 1em 0 1.33em ;
}

.tt-bus {
  &:before {
    font-family: "Ionicons";
    font-size: 1.3em;
    color: $orange;
    content: "\f36d";
    margin-right: 0.25em;
  } 
}

.tt-car {
  &:before {
    font-family: "Ionicons";
    font-size: 1.3em;
    color: $red-dark;
    content: "\f36f";
    margin-right: 0.25em;
  } 
}

.tt-plane {
  &:before {
    font-family: "Ionicons";
    font-size: 1.3em;
    color: $blue;
    content: "\f3a4";
    margin-right: 0.25em;
  } 
}

.tt-train {
  &:before {
    font-family: "Ionicons";
    font-size: 1.3em;
    color: $green;
    content: "\f3b4";
    margin-right: 0.25em;
  } 
}


