//
// typography
//

p {
  margin: 1em 0;
  max-width: 32em;
}

.p-large {
  font-size: $large-font-size + 3px;
  @media screen and (max-width: $screen-sml) {
    font-size: $large-font-size;
  }
}

h1,
h2,
h3,
h4, {
  color: $black;
  margin: 2em 0 1em;
}

h1, .h1-like {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1;
  @media screen and (max-width: $screen-sml) {
    margin: 1.5em 0 1em;
  }
}

.h1-light {
  @extend .h1-like;
  font-weight: 400;
}

h2, .h2-like {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2;
}

h3, .h3-like {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}

.h1-mega {
  font-size: 2.5em;
  margin: 1.5em 0 1.5em;
  @media screen and (max-width: screen-sml) {
  font-size: 2em;}
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 1px dotted $grey;
  margin: 0;
  padding-left: 1rem;
}

ul {
  margin: 1.5em 0;
  padding-left: 1.5em;
}

ol {
  margin: 1.5em 0;
  padding-left: 1.5em;
}

pre,
code,
p code {
  font-size: 16px;
  font-family: $monospace;
  @media screen and (max-width: $screen-mid) {
    font-size: 14px;
  }
}

p code,
li code {
  color: $green;
  padding: 0 0.25em;
}

.secondary {
  color: $grey-dark;
}

