//
// typography
//

// $u === leading === 1rem x line-height
p {
  margin: 1.6em 0;
}

.p-large {
  font-size: $large-font-size + 3px;
}

h1,
h2,
h3 {
  color: $black;
}

h1, .h1-like {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
  margin: 2em 0;
  @media screen and (max-width: $screen-sml) {
    margin: 2em 0 1em;
  }
}

h2, .h2-like {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.2;
  margin: 2.4em 0 1.2em;
}

h3, .h3-like {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.6;
  margin: 1em 0 2em;

  text-transform: uppercase;
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 1px dotted $grey;
  margin: 0;
  padding-left: 1rem;
}

ul {
  margin: $u 0;
  padding-left: 1rem;
}

ol {
  margin: $u 0;
  padding-left: 1.25rem;
}

pre,
code,
p code {
  font-size: 16px;
  font-family: $monospace;
  @media screen and (max-width: $screen-mid) {
    font-size: 14px;
  }
}

p code {
  color: $green;
}

.secondary {
  color: $grey-dark;
}

