//
// video
//

.video {
  color: $grey-dark;
  margin: 2em auto;
}

.video-overflow {
  @media screen and (min-width: 899px) {
    margin: 2em -6em;
  }
}

.video-description {
  font-size: 0.75em;
}
