---
layout: default
title: Musings on UI design and development 
---

<div class="blog wrapper-post-like">

<h1> Blog </h1>
<div class="post-list">

    {% for post in paginator.posts %}
        
        {% if post.category == "quicknote" %}

          <div class="post-list-note">
            <h2 class="title-icon note-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">             
                {{ post.title }}<span class="icon ion-pin"></span>       
              </a>
            </h2>
            {{ post.content }}
          </div>

        {% elsif post.category == "quote" %}

          <div class="post-list-note">
            <h2 class="title-icon note-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">             
                {{ post.title }}<span class="icon ion-quote"></span>       
              </a>
            </h2>
            {{ post.content }}
          </div>

        {% elsif post.category == "quote-bundle" %}

            <h2 class="title-icon">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}<span class="icon ion-quote"></span> 
              </a>
            </h2>
            <div class="excerpt">{{ post.excerpt}}</div>

        {% else %}

            <h2 class="">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h2>
            <div class="excerpt">{{ post.excerpt}}</div>

        {% endif %}

    {% endfor %}

<div class="pagination">

  <div class="page_number txt-secondary">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous txt-secondary">Previous</span>
  {% endif %}
  &emsp;
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next txt-secondary">Next</span>
  {% endif %}
</div>


</div>

</div>
